[Unit]
Description=yarn

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/home/toqoz/code/c/yarn/yarn
# TODO; add a reload option to yarn so we can reload properly (prevent thread problems).
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
