[Unit]
Description=yarn notification daemon
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/local/bin/yarn

[Install]
WantedBy=default.target
